{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react", {
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "modules": "commonjs"
            }
        ]
    ]
}